<!-- About section-->
<section class="page-section section-background" id="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class=" mt-0">We've got what you need!</h2>
        <hr class="divider light my-4" />
        <p class=" mb-4">Established in 2019, Dreams Constructions is 
          one of the most prestigious real estate developers based in Maharashtra. 
          Dreams Constructions has the vision of creating a new future of India with self-sufficient 
          and enduring infrastructure development.We are here to give an experience of
             a lifetime to everyone, through infrastructure with supreme
              quality, beauty, and longevity.
        </p>
        <a class="btn btn-light btn-xl js-scroll-trigger" href="javascript:void(0)" [routerLink]="['/home/services']">Get Started!</a>
      </div>
    </div>
  </div>
</section>