<!-- Footer-->
<footer class="bg-light footer">
  <div class="container">
    <div class="float-left">
      <span> Follow Us On</span>
      <a href="https://www.instagram.com/dreams_construction_5/"><i class="fab fa-instagram icon icon-insta"></i></a>
      <a href="https://www.facebook.com/pages/category/Consulting-Agency/Dreams_Construction-111992353657137/"><i class="fab fa-facebook-square icon icon-fb"></i></a>
    </div>
    <div class="text-center copyright">Copyright © 2020 - Dreams Construction
      <span class="float-right delivered"> Delivered by - <a href="http://shahrukhsayyed.tech">Shahrukh
          Sayyed(shahrukhsayyed.tech)</a></span>
    </div>
  </div>
</footer>